/Exercise1.5/build/
/Exercise1.11/nbproject/private/
/Exercise1.12/nbproject/private/
/Exercise1.12/build/
/Exercise1.13/nbproject/private/
/Exercise1.13/build/
/Exercise2.1/nbproject/private/
/Exercise2.2/nbproject/private/
/Exercise2.3/nbproject/private/
/Exercise2.5&2.6/nbproject/private/
/Exercise2.5/nbproject/private/
/Exercise2.5/build/
/Exercise2.6/nbproject/private/
/Exercise2.6/build/